.root {
  margin-bottom: 100px;

  &__title {
    font-weight: 700;
    margin-bottom: 72px;
  }

  &__spinner {
    position: relative;
    min-height: 30dvh;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    align-items: center;
  }
}
