@import "../../../../shared/other-style/mixins",
  "../../../../shared/other-style/adaptive";

.root {
  --bgActive: var(--color-main-text);
  --colorActive: var(--backgraund-color);
  --hoverColor: var(--color-accent);

  @include flex-gap(12px);
  align-items: center;
  --widthItem: 58px;
  --heightItem: 48px;
  justify-content: center;

  &__item {
    border-radius: 4px;

    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    border-radius: 32px;

    transition-duration: var(--duration);
    transition-property: background-color, color;

    &:hover {
      background-color: var(--color-white-opacity40);
    }

    &.isActive > a {
      color: var(--colorActive);
    }

    &.isActive {
      background-color: var(--bgActive);
    }
    &.isDisabled {
      display: none;
    }
  }
}
