.root {
  --bgColorDropDown: var(--backgraund-color);
  max-width: 250px;
  width: 100%;
  margin-left: auto;

  background-color: var(--bgColorDropDown);

  @media (max-width: 570px) {
    margin: 36px auto;
  }
}
