@import "../../../../shared/other-style/mixins",
  "../../../../shared/other-style/adaptive";

.root {
  @include flex-column;
  gap: 20px;
  height: 100%;
  width: 500px;
  border-radius: 20px;
  border: 2px solid var(--color-accent);
  padding: 10px 20px;

  @include mobile {
    width: 400px;
  }

  @media (max-width: 400px) {
    width: 300px;
  }

  &__avatar {
    max-width: 85px;
    width: 100%;
    border-radius: 50%;
    margin: auto;
  }

  &__group {
    @include flex-gap(5px);

    @include mobile {
      flex-direction: column;
    }
    label {
      flex: 1;
      font-weight: 800;
    }

    span,
    p {
      flex: 2;
    }
  }

  &__discription {
    max-height: 100px;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-thumb {
      /* плашка-бегунок */
      height: 20px;
      border-radius: 10px;
      transition-property: background;
      transition-duration: var(--duration);
      background-color: var(--color-accent);
      &:hover {
        background: var(--color-gray);
      }
    }
    &::-webkit-scrollbar-track {
      /* фон */
      background-color: transparent; /* фон */
    }
  }
}
