@import "../../shared/other-style/mixins";
.root {
  --navBackgroundColor: var(--color-white);
  --navBorderRadius: 20px;
  --navPadding: 10px;
  height: var(--height-header);
  padding-block: 10px;
  @include flex-center-beetwen;
}
